<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>

    </title>
    <link rel="stylesheet" href="/custom.scss">
  </head>
  <body>



    <div class="body-class">              <!-- body class div start -->
    <div class="jon-nav">                       <!-- start of nav  -->
        <h1>Home#index</h1>
        <h1><%= link_to 'View All Products', products_path %></h1>
        <!-- <%= link_to 'View Products', products_path(@product) %> -->


                                      <!-- **********   REMOVE  *********  -->
         <p>Find me in app/views/home/index.html.erb</p>
                                        <!-- **********   REMOVE  *********  -->


          <%= form_tag(products_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "" %>
          <%= submit_tag "Search", :name => nil %>
          <% end %>
    </div>                                   <!-- end of nav  -->
    <div class="jon-wrapper jon-">        <!--jon-wrapper start  -->
          <% @products.each do | product|%>
            <div>         <!--unknown div start  -->
                <h3><%= product.name %></h3>
                <%= image_tag product.image, height: 200, width:200 %>
                <!-- <%= product.description %> -->
                <h3>$<%= product.formatted_price %></h3>
                 <%= link_to 'View Product', product %>

                    <%= form_for @order_item do |f| %>
                      <%= f.hidden_field :quantity, value: 1 %>
                      <%= f.hidden_field :product_id, value: product.id %>
                      <%= f.submit "Add to cart" %>
                    <% end %>
            </div>                <!--unknown div end  -->
          <% end %>
    </div>            <!--jon-wrapper end  -->

  <h1><%= link_to 'View All Products', products_path %></h1>

</div>                  <!-- body class div end -->


  </body>
</html>
