<h1>Home#index</h1>
<%= link_to 'Products', products_path %>
<p>Find me in app/views/home/index.html.erb</p>

<div class="wrapper">

  <% @products.each do | product|%>

      <div class="nested">
        <div>
          <h3><%= product.name %></h3>
          <%= image_tag product.image, height: 200, width:200 %>
          <%= product.description %>
          <h3>$<%= product.formatted_price %></h3>

          <!-- <div> <%= link_to 'Back', products_path(@product) %> </div> -->
      </div>
    </div>

  <% end %>

</div>
